* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



body {
    padding: 0;

}

.nav_element {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
}

.nav_element a {
    color: black !important;
}


.image {
    width: 100%;
    height: auto;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

.cart_one {
    border: 1px solid black;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    box-shadow: 1px 2px 2px rgba(78, 78, 78, 0.884);
    margin: auto;
    margin-bottom: 20px;
}

.home_background {
    text-align: center;
}

.home_background h1 {
    font-weight: 700;
    margin-top: 110px;
    color: white;
    font-size: 60px;
}

.home_background h2 {
    color: white;
    font-size: 20px;
}

.background {
    height: 800px;
    background-image: url("../back-end/images/lens-1209823_1920.jpg");
}

.element_footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.footer {
    margin-top: 70px;
}

.element_footer {
    line-height: 100px;
}

.nav_element p {
    font-weight: bold;
    margin-top: 15px;
}

.container-panier-vide {
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
    width: 1320px;
}



.nav_element a:link {
    text-decoration: none;
}

.cart_three,
.cart_four,
.cart_five {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .cart_one {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .nom {
        font-size: 18px !important;
    }

    .prix {
        font-size: 15px !important;
    }

    .btn_product {
        font-size: 12px;
    }
}


.container-fluid {
    padding: 0 !important;
    overflow: hidden;
}

.nom {
    font-size: 23px;
    font-weight: 700;
    margin-top: 10px;
}

.prix {
    font-size: 20px;
    font-weight: bold;
}

.element_cart {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.picture_card {
    width: 100%;
    height: auto;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.card_content {
    border: 1px solid black;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin-top: 20px;
    box-shadow: 1px 2px 2px rgba(78, 78, 78, 0.884);
}

.nom,
.description,
.prix,
.selecteur,
.id {
    margin-left: 10px;
    align-items: center;
}



.card {
    border: none !important;
    margin: auto;
}

.name {
    font-size: 35px;
    font-weight: 700;
}

.price {
    font-size: 25px;
    font-weight: 700;
}

.nav_element h1 {
    font-weight: 700;
    margin-top: 10px;
}

.button_card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn_product {
    padding: 7px;
    border-radius: 0.5em;
    border: 1px solid black;
    margin-bottom: 15px;
    background-color: rgba(110, 110, 110, 0.973);
    color: white;
}

.btn_product:hover {
    background-color: rgba(131, 131, 131, 0.973);
}

.page_panier_element h1 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
}

.page_panier_element h3 {
    font-size: 27px;
    margin-bottom: 30px;
}

.tableau_recap {
    display: flex;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.first,
.second,
.third,
.fourth,
.fifth {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
}

.complet p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 15px;
}

.btn_panier {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.btn_passer_commande {
    padding: 7px;
    border-radius: 0.5em;
    border: 1px solid black;
    margin-bottom: 15px;
    text-align: center;
}

.title_coordonnees {
    font-size: 22px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}

.champs_obligatoires {
    margin-top: 5px;
    font-size: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.formulaire_paiement {
    margin-top: 0px;
    font-size: 15px;
}

.affichage_prix_total {
    font-weight: bold;
    margin-top: 20px;
}

.container-recapitulatif {
    margin-top: 20px;
}

#firstname{
    margin-left: 20px;
}

#lastname {
    margin-left: 40px;
}

#lastname {
    margin-left: 40px;
}

#address {
    margin-left: 17px;
}

#city {
    margin-left: 40px;
}

#email {
    margin-left: 27px;
}